.bottom {
    .title {
        cursor: pointer;
        padding: .5rem 5px;

        &:hover {
            background-color: #202225;
        }
    }
    
    .content {
        height: 277px;
    }
}