.layers {
    user-select: none;

    

    h4 {
        border-top: 1px solid #333;
        border-bottom: 1px solid #333;
        padding: 1rem 0;
        margin: 1rem 0 0 0;
    }

    li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        list-style: none;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        padding: 0.5rem 0.5rem;
        border: 1px solid transparent;
        align-items: center;

        input {
            all: unset;
            pointer-events: none;
            width: 160px;

            &:not(:disabled) {
                pointer-events: all;
                cursor: text;
            }

            &:focus {
                // background-color: #ffffff9f;
                color: #fff;
            }
        }

        & .edit-icon {
            padding: 5px;
            transition: 0.2s color;
            color: #ffffff2a;
        }

        &:hover, &.active {
            background-color: #00000056;
            border: 1px solid #80b9e1;
            color: #80b9e1;

            & .edit-icon {
                color: #ffffffb4;

                &:hover {
                    color: #80b9e1;
                }
            }
        }
    }
}
