.right {
    .title {
        text-align: center;
        user-select: none;
        font-weight: 500;
        border-bottom: 1px solid #333;
        padding: 1rem 0;
        margin: 0;
    }

    .label {
        font-size: 14px;
        padding: 1rem 17px;
        border-bottom: 1px solid #333;
        overflow-x: hidden;

        h5:nth-of-type(n + 2) {
            margin-top: 1rem;
        }

        h5 {
            margin: 0;
            color: #ffffff98;
            padding: 0;
            user-select: none;
            font-weight: 600;
        }

        select option {
            background-color: #222;
        }

        input[type='text'],
        input[type='number'],
        select {
            margin: 5px 0;
            width: -webkit-fill-available;
            background-color: transparent;
            color: #fff;
            border: 1px solid transparent;
            cursor: pointer;

            &:focus {
                cursor: auto;
                outline: 3px solid #568cb3;
            }
        }

        input[type='color'].fill {
            all: unset;
            margin-top: 10px;
            width: -webkit-fill-available;
            height: 50px;
            display: block;
            outline-offset: -5px;
            outline: 3px solid #ccc;
            cursor: pointer;

            &:hover {
                outline-color: #71b0dd;
            }
        }
    }

    .textProperties {
        .label {
        }
    }

    .brush {
        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 1rem;
            gap: 1rem;

            button {
                border: none;
                padding: 5px 1rem;
                cursor: pointer;
                padding: 10px;
                clip-path: circle();

                &.confirm {
                    background-color: #4CAF50;
                }

                &.cancel {
                    background-color: #F44336;
                }
            }
        }
    }
}
